* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: black;
}
.container {
    width: 1000px;
    height: 500px;
    background-color: #2f302f7e;
    margin: 35px auto;
    border-radius: 20px;
    padding-top: 60px;
}

.first-box {
    width: 100%;
    height: 60px;
    background-color: #6b6d6be5;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.second-box {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: justify;
    color: white;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}