* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 500px;
    height: 500px;
    background-color: rgba(160, 154, 154, 0.486);
    margin: 30px auto;
    border-radius: 20px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.form-container {
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    color: white;
}

form label {
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.979);
    color: white;
    font-weight: 1000;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0a000080;
    color: white;
}

.form-container p{
    text-align: center;
    margin-top: 20px;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
