.nav-main {
    background-color: black;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-one {
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
}

.nav-one-imgo {
    width: 70px;
    height: 50px;
}

.nav-one-imgt {
    width: 250px;
    height: 35px;
}

.nav-two {
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-two a {
    text-decoration: none;
    color: #EAEFEF;
}
